<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    {{{body}}}
    <footer>
      <div>
        <button class='footer-btn' id='back-btn'>
          <a href='/'>Back</a>
        </button>
      </div>
      <div>
        <button id='logout-btn' class='footer-btn'>
          Logout
        </button>
      </div>
    </footer>
  </body>
</html>