<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='./assets/css/styles.css' />
    <title>Document</title>
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
    <footer>
      <div>
        <button class='footer-btn' id='back-btn'>
          <a href='/'>Back</a>
        </button>
      </div>
      <div>
        <button id='logout-btn' class='footer-btn'>
          Logout
        </button>
      </div>
    </footer>
  </body>
  <script src='./assets/js/login.js'></script>
</html>