<div class="home-container">
  <section class='top-main'>
  <h2>Welcome {{firstName}}</h2>
  <h3>Please click one of the buttons to filter your tickets by status</h3>
  <div class='main-btn-container'>
    <button id="open-btn">Open</button>
    <button id="claim-btn">Claimed</button>
    <button id="pending-btn">Pending</button>
    <button id="resolved-btn">Resolved</button>
    <button id="all-btn">All</button>
  </div>
</section>

<div class="mid-main-btn">
  <button class="create-new-modal-trigger" id="new-ticket-btn">+</button>
</div>

<section class='bottom-main'>
  <table>
    <tr class="table-head">
      {{#if isTech}}
      <th>
        <div class='table-cell'>
          Claim
        </div>
      </th>
      {{/if}}
      <th>
        <div class='table-cell'>
          Status
        </div>
      </th>
      <th>
        <div class='table-cell'>
          Urgency
        </div>
        </th>
      <th>
        <div class='table-cell'>
          Client
        </div>
      </th>
      <th>
        <div class='table-cell'>
          Technician
        </div>
      </th>
      <th>
        <div class='table-cell'>
          Created On
        </div>
      </th>
      <th>
        <div class='table-cell'>
          View Ticket
        </div>
      </th>
    </tr>

      {{#each tickets}}
      {{> table}}
      {{/each}}

  </table>
</section>

<div class="modal-screen">
  <section id="new-ticket-modal" class="hidden">
        <button id="close-ticket-modal">X</button>
        <div class="ticket-form">
          <header>
            <h3>New Ticket</h3>
          </header>
          <div>
            <label for="subject">
              <h4>Subject</h4>
            </label>
          </div>
          <div>
            <input type="text" id="subject" />
          </div>
          <div>
            <label for="description">
              <h4>Description</h4>
            </label>
          </div>
          <div>
            <textarea
              placeholder="Please tell us more about your issue"
              id="description"
            ></textarea>
          </div>
          <div>
            <label for="urgency">
              <h4>Urgency</h4>
            </label>
          </div>
          <select name="urgency" id="urgency">
            <option value="Low" selected>Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <button id="submit-ticket">Create Ticket</button>
        </div>
      </section>
  </div>

    <footer>
      <div>
        <button class='footer-btn' id='back-btn'>
          <a href='/'>Back</a>
        </button>
      </div>
      <div>
        <button id='logout-btn' class='footer-btn'>Logout</button>
      </div>
    </footer>
</div>

<script src='./assets/js/home.js' defer></script>