<div class="home-container">
  <div id="userData" data-user-id="{{userid}}"></div>
  <div class="animation-container">
    <div id="tile-anime"></div>
      <h2 id="welcome" class="header-text welcome">Welcome {{firstName}}</h2>
      <p class="header-text welcome" id="info-head">Click here to filter tickets</p>
    <section class='top-main header-text' id="button-container-home">
      <h3>Please click one of the buttons to filter your tickets by status</h3>
      <div id='main-btn-container'>
        <button id="open-btn">Open</button>
        <button id="claimed-btn">Claimed</button>
        <button id="pending-btn">Pending</button>
        <button id="resolved-btn">Resolved</button>
        <a href='/'><button id="all-btn">All</button></a>
        <button class="create-new-modal-trigger" id="new-ticket-btn">+</button>
      </div>
  </section>
  </div>


<section class='bottom-main'>
  {{#if tickets}}
  <table>
    <tr class="table-head">
      {{#if isTech}}
      <th>
        <div class='table-cell'>
          Claim
        </div>
      </th>
      {{/if}}
      <th>
        <div class='table-cell'>
          Status
        </div>
      </th>
      <th>
        <div class='table-cell'>
          Urgency
        </div>
        </th>
      <th>
        <div class='table-cell'>
          Client
        </div>
      </th>
      <th>
        <div class='table-cell'>
          Technician
        </div>
      </th>
      <th>
        <div class='table-cell'>
          Created On
        </div>
      </th>
      <th>
        <div class='table-cell'>
          View Ticket
        </div>
      </th>
    </tr>

      {{#each tickets}}
      {{> table}}
      {{/each}}

  </table>
{{else}}
<p>All open tickets claimed. Please check back later</p>
{{/if}}
</section>

<div class="modal-screen">
  <section id="new-ticket-modal" class="hidden">
        <button id="close-ticket-modal">X</button>
        <div class="ticket-form">
          <header>
            <h3 class="ticket-title">New Ticket</h3>
          </header>
          <div>
            <label class="new-subject" for="subject">
              <h5>Subject</h5>
            </label>
          </div>
          <div>
            <input class="new-subject-input" type="text" id="subject" />
          </div>
          <div>
            <label class="new-description" for="description">
              <h5>Description</h5>
            </label>
          </div>
          <div>
            <textarea
              placeholder="Please tell us more about your issue"
              id="description"
            ></textarea>
          </div>
          <div>
            <label for="urgency">
              <h5 class="new-urgency">Urgency</h5>
            </label>
          </div>
          <select name="urgency" id="urgency" class="urgency-select">
            <option value="Low" selected>Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <button id="submit-ticket">Create Ticket</button>
        </div>
      </section>
  </div>

    <footer>
      <div>
        <button class='footer-btn' id='back-btn'>
          <a href='/'>Back</a>
        </button>
      </div>
      <div>
        <button id='logout-btn' class='footer-btn'>Logout</button>
      </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/animejs"></script>
<script src='./assets/js/home.js' type="module"></script>
