<section class='login-form-container'>
  <span class='login-span'> </span>
  <span class='login-span'></span>
  <span class='login-span'></span>
  <span class='login-span'></span>
  <form class='login-form'>
    <h1>Hammer JAKK Help Desk</h1>

    <div class='login-content-box'>
      <input type='text' id='login-email' name='email' class='login-input' />
      <label for='email' class='login-label'>Email</label>
      <i class='login-border'></i>
    </div>

    <div class='login-content-box'>
      <input
        type='password'
        name='password'
        id='login-password'
        class='login-input'
      />
      <label for='password' class='login-label'>Password</label>
      <i class='login-border'></i>
    </div>
    <div class='btn-container'>
      <button type='submit' id='login-btn'>Log In</button>
    </div>
  </form>
</section>