<section class='login-form-container'>
  <h1>JAKK Help Desk</h1>
  <h2>Please login</h2>
  <form>
    <label for='login-email'>Email</label>
    <br />
    <input type='text' id='login-email' />
    <br />
    <label for='login-password'>Password</label>
    <br />
    <input type='password' id='login-password' />
    <br />
    <button type='submit' id='login-btn'>Login!</button>
  </form>
</section>