:root {
  --primary-color: #1d1e22;
  --secondary-color: #ffffff;
  --accent-color: #6f7fc1;
}

/* modal styling */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#chat-dialogue {
  right: -300px;
}

#new-ticket-modal {
  right: -300px;
}

#chat-dialogue,
#new-ticket-modal {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.dialogue-content {
  padding: 20px;
}

.hidden {
  width: 0;
}
/* End modal styling */

/* Login styles */
.login-main {
  background-color: var(--primary-color);
}
