:root {
  --primary-color: #1d1e22;
  --secondary-color: #ffffff;
  --accent-color: #6f7fc1;
  --form-label-color: #8f8f8f;
}

/* modal styling */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#chat-dialogue {
  right: -300px;
}

#new-ticket-modal {
  right: -300px;
}

#chat-dialogue,
#new-ticket-modal {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.dialogue-content {
  padding: 20px;
}

.hidden {
  width: 0;
}
/* End modal styling */

/* Login styles */
.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.login-form-container {
  width: 50%;
  height: 50%;
  position: relative;
  /* overflow: hidden; */
}

.login-form-container::before,
.login-form-container::after {
  position: absolute;
  content: '';
  height: 100%;
  transform: skew(-15deg, 15deg) scale(1.7);
  left: -100%;
}
.login-form-container::before {
  width: 100%;
  transition: 0.6 all;
}
.login-form-container::after {
  width: 50px;
  transition: 0.2s all;
}
.login-span {
  width: 100%;
  height: 100%;
  position: absolute;
}
.login-span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--accent-color);
  left: -100%;
  animation: animationToRight 4.5s infinite linear;
  box-shadow: 0px 0px 2rem var(--accent-color);
}
span:nth-child(2) {
  transform: rotate(90deg);
  width: 152%;
}
span:nth-child(3) {
  transform: rotate(180deg);
}

span:nth-child(4) {
  transform: rotate(270deg);
  height: 210%;
}
@keyframes animationToRight {
  0% {
    left: -200%;
  }
  100% {
    left: 200%;
  }
}

.login-form {
  position: absolute;
  inset: 4px;
  background: var(--primary-color);
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.login-form > h1 {
  color: var(--secondary-color);
  text-shadow: 0 0 0.5rem var(--secondary-color);
  font-size: clamp(1.5rem, 2rem, 3rem);
  letter-spacing: 0.1rem;
}
.login-content-box {
  position: relative;
  width: 80%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: transparent;
  font-size: 1em;
  letter-spacing: 0.05em;
  border: none;
  transition: 0.5s;
  z-index: 5;
}

.login-input:focus {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 8px;
}

.login-label {
  position: absolute;
  left: 10px;
  top: 20px;
  color: var(--form-label-color);
  transition: transform 0.5s, font-size 0.5s, color 0.5s;
  transform-origin: 0 0;
  pointer-events: none;
}

.login-input:focus + .login-label {
  color: var(--secondary-color);
  font-size: 0.75rem;
  transform: translateY(-40px);
  padding-bottom: 5px;
}

.login-border {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--accent-color);
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
}

.login-input:focus ~ .login-border {
  display: none;
}

.btn-container {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  width: 81%;
}

#login-btn {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: var(--secondary-color);
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 4px;
  font-weight: bold;
}

@media (max-width: 1329px) {
  span:nth-child(2) {
    transform: rotate(90deg);
    width: 120%;
  }
  span:nth-child(4) {
    transform: rotate(270deg);
    height: 100%;
  }
}

@media (max-width: 791px) {
  span:nth-child(2) {
    transform: rotate(90deg);
    width: 90%;
  }
}

/* end login styles */

/* home/dashboard styles */
.home-container {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  contain: strict;
}
.top-main {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mid-main-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.bottom-main {
  width: 100%;
  height: 50%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
table {
  width: 80%;
  border: solid var(--accent-color);
  border-radius: 8px;
}
tbody {
  width: 100%;
  text-align: center;
}
.table-head {
  max-height: 2.5rem;
}
.table-head > th {
  max-height: 2.5rem;
}

/* tr:first {
  border-top: solid var(--accent-color);
}

tr {
  border-bottom: solid var(--accent-color);
} */

th,
td {
  color: var(--secondary-color);
  /* border: solid 2px var(--accent-color); */
  text-align: center;
  padding: 10px;
  position: relative;
  content: contain;
}
th {
  font-size: clamp(1.5rem, 2rem, 2.5rem);
  border-bottom: solid var(--accent-color);
}

.table-btn {
  font-size: clamp(1.5rem, 1.75rem, 2.25rem);
  padding: 10px;
  border-radius: 8px;
}

td > div {
  font-size: clamp(1.25rem, 1.75rem, 2rem);
  display: flex;
  justify-content: center;
}

.created-on {
  padding: 10px;
}

.table-cell {
  top: -80%;
  position: absolute;
  animation: drop 2s linear forwards;
  padding: 10px;
}

@keyframes drop {
  0% {
    top: -80%;
    opacity: 0;
  }
  25% {
    top: -40%;
    opacity: 0.25;
  }
  50% {
    top: 0;
    opacity: 0.5;
  }
  100% {
    top: 25%;
    opacity: 1;
  }
}

.table-btn {
  font-size: clamp(1.05rem, 1.5rem, 2rem);
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  width: 100%;
  justify-content: center;
}
